<nav>
<ul>
{% for parent in site.data.spd %}

  {% if parent.url == '/spd' %}
    <li style="margin-top: 1em;">
      {% if page.url == '/spd/' %}
        <a class="current-parent" href="{{ site.baseurl }}{{ parent.url }}">{{ parent.title }}</a>
      {% else %}
        <a class="parent" href="{{ site.baseurl }}{{ parent.url }}">{{ parent.title }}</a>
      {% endif %}
    </li>

  {% else %}
    <li>
      {% if page.url contains parent.url %}
        <a class="current-parent" href="{{ site.baseurl }}{{ parent.url }}">{{ parent.title }}</a>

        {% if parent.url == '/spd/tower' %}
          {% assign children = site.tower | sort: "order" %}
        {% elsif parent.url == '/spd/item' %}
          {% assign children = site.item | sort: "order" %}
        {% elsif parent.url == '/spd/enemy' %}
          {% assign children = site.enemy | sort: "order" %}
        {% elsif parent.url == '/spd/boss' %}
          {% assign children = site.boss | sort: "order" %}
        {% endif %}

        {% for child in children %}
          <ul>
            <li>
              {% if page.url contains child.url %}
                <a class="current-child" href="{{ child.url }}">{{ child.title }}</a>
              {% else %}
                <a class="child" href="{{ child.url }}">{{ child.title }}</a>
              {% endif %}
            </li>
          </ul>
        {% endfor %}

      {% else %}
        <a class="parent" href="{{ site.baseurl }}{{ parent.url }}">{{ parent.title }}</a>
      {% endif %}
    </li>
  {% endif %}

{% endfor %}
</ul>
</nav>
