/* Change buttons */
.btn {
  background-color: #159957;
}
.btn:hover {
  background-color: #000000;
}

/* Reduce default header padding where padding: topbottom leftright */
@media screen and (min-width: 64em) {
  .page-header {
    padding: 2rem 3rem; /* default was 5rem 6rem */
  }
}
@media screen and (min-width: 42em) and (max-width: 64em) {
  .page-header {
    padding: 1rem 2rem; /* default was 3rem 4rem */
  }
}
@media screen and (max-width: 42em) {
  .page-header {
    padding: .5rem 1rem; /* default was 2rem 1rem */
  }
}

/* Banner image on top if used */
.banner-spd {
  color: #fff;
  width: 352px;
  height: 240px;
}
@media screen and (max-width: 64em) {
  .banner-spd {
    width: 264px;
    height: 180px;
  }
}
@media screen and (max-width: 42em) {
  .banner-spd {
    width: 176px;
    height: 120px;
  }
}

.banner-koala {
  color: #fff;
  width: 192px;
  height: 128px;
}
@media screen and (max-width: 64em) {
  .banner-koala {
    width: 144px;
    height: 96px;
  }
}
@media screen and (max-width: 42em) {
  .banner-koala {
    width: 96px;
    height: 64px;
  }
}
