/* Navigation for SPD */

/* Font */
#navbar li a {
  padding-left: .25em;
  color: #fff;
  text-decoration: none;
  display: block;
}

/* Base */
#navbar ul {
  background-color: #1e6bb8;
  padding: 0em;
  list-style: none;
}
#navbar li a:hover {
  background-color: #000;
}

/* Stylize parent different from child */
#navbar .parent {
  background-color: #159957;
}
#navbar .child {
  padding-left: .5em;
}
#navbar .current-parent {
  background-color: #0b4d2c;
}
#navbar .current-child {
  background-color: #0f365c;
  padding-left: .5em;
}

/* Two column for desktop */
@media all {
  #container {
    display: flex;
    align-items: stretch;
    flex-flow: row wrap;
  }
  #navbar {
    order: 2;
    width: 20%;
    padding-left: 2em;
  }
  #content {
    order: 1;
    width: 80%;
    text-align: justify;
  }
}

/* One column for mobile */
@media screen and (max-width: 64em) {
  #container {
    display: flex;
    align-items: stretch;
    flex-flow: column wrap;
  }
  #navbar {
    order: 2;
    width: 100%;
  }
  #content {
    order: 1;
    width: 100%;
    text-align: justify;
  }
}
