/* Navigation for SPD */

/* Greens from https://paletton.com/#uid=1300u0krBrngWyJlPtdtmlDzhgJ */
/* Blues from https://paletton.com/#uid=13h0u0kqvpcgCwilvs1t1kqzJfo */

/* Font */
#navbar li a {
  padding-left: 0em;
  color: #fff;
  text-decoration: none;
  display: block;
}

/* Base */
#navbar ul {
  text-align: center;
  background-color: #157a75; /* color of child */
  padding: 0em;
  list-style: none;
}
#navbar li a:hover {
  background-color: #57B987;
}

/* Stylize parent different from child */
#navbar .parent {
  background-color: #159956;
}
#navbar .child {
  padding-left: 0em;
}
#navbar .current-parent {
  background-color: #005D2E;
}
#navbar .current-child {
  background-color: #004A47;
  padding-left: 0em;
}

/* Two column for desktop */
@media all {
  #container {
    display: flex;
    align-items: stretch;
    flex-flow: row wrap;
  }
  #navbar {
    order: 2;
    width: 20%;
    padding-left: 2em;
  }
  #content {
    order: 1;
    width: 80%;
    text-align: justify;
  }
}

/* One column for mobile */
@media screen and (max-width: 64em) {
  #container {
    display: flex;
    align-items: stretch;
    flex-flow: column wrap;
  }
  #navbar {
    order: 2;
    width: 100%;
  }
  #content {
    order: 1;
    width: 100%;
    text-align: justify;
  }
}
