/* Banner background */
.page-header {
  color: #fff;
  text-align: center;
  background-image: url("/assets/images/spd/library-hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
