{% assign spd = true %}
{% include header.html %}

<div id="container">

  <div id="navbar">
    {% include navigation-spd.html %}
  </div>

  <div id="content">
    {% if page.url contains '/news/' %}
      {{ page.date | date: "%B %-d, %Y" }}
      <h1>{{ page.title }}</h1>
    {% endif %}

    {{ content }}

    {% if page.previous == nil and page.next == nil %}

      <!-- Begin auto generate previous next for sublinks -->
      {% assign entries = site.data.spd | sort: "order" %}
      {% for entry in entries %}
        {% if found %}
          {% assign next_url = entry.url %}
          {% assign next_text = entry.title %}
          {% break %}
        {% endif %}
        {% if page.url == '/spd/' %}
          {% assign found = true %}
        {% elsif entry.url != '/spd' and page.url contains entry.url %}
          {% assign found = true %}
        {% else %}
          {% assign prev_url = entry.url %}
          {% assign prev_text = entry.title %}
        {% endif %}
      {% endfor %}

      {% if found %}
        {% include prev-next.html purl=prev_url ptext=prev_text nurl=next_url ntext=next_text %}
      {% endif %}
      <!-- End auto generate previous next for sublinks -->

    {% else %}
      <!-- Begin auto generate previous next for navigation links -->
      {% include prev-next.html purl=page.previous.url ptext=page.previous.title nurl=page.next.url ntext=page.next.title %}
      <!-- End auto generate previous next for navigation links -->
    {% endif %}
  </div>

</div>

{% include footer.html %}
